openapi: 3.0.3
info:
  title: ProAPI Core API
  version: 2026-05-27
  description: |
    ProAPI 当前核心接口。适合普通用户、第三方客户端和自动化脚本参考。
    模型与价格会变化，实时数据请读取 /api/pricing 或控制台模型广场。
servers:
  - url: https://newapi.prorisehub.com
security:
  - BearerAuth: []
paths:
  /api/status:
    get:
      summary: 获取站点公开状态
      security: []
      responses:
        "200":
          description: 站点配置、公告、功能开关等公开信息
  /api/pricing:
    get:
      summary: 获取当前模型、分组和价格
      description: 不需要 API Key。自动化脚本可用它判断当前有哪些模型、属于哪些分组、支持哪些端点。
      security: []
      responses:
        "200":
          description: 当前模型价格快照
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingResponse"
  /v1/models:
    get:
      summary: 列出当前令牌可访问的模型
      responses:
        "200":
          description: OpenAI 兼容模型列表
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelList"
  /v1/chat/completions:
    post:
      summary: OpenAI 兼容聊天接口
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: 聊天响应；stream=true 时为 SSE
  /v1/images/generations:
    post:
      summary: 图片生成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageGenerationRequest"
      responses:
        "200":
          description: 图片 URL 或 base64 响应
  /v1/images/edits:
    post:
      summary: 图片编辑 / 图生图
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [model, prompt, image]
              properties:
                model:
                  type: string
                  example: nano-banana-pro
                prompt:
                  type: string
                image:
                  type: string
                  format: binary
                aspect_ratio:
                  type: string
                  example: "16:9"
                quality:
                  type: string
                  enum: [low, medium, high]
      responses:
        "200":
          description: 图片编辑结果
  /v1/videos:
    post:
      summary: 创建视频生成任务
      description: 推荐用于视频生成。返回任务 ID 后，使用 /v1/videos/{video_id} 查询进度。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoCreateRequest"
      responses:
        "200":
          description: 视频任务已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoTask"
  /v1/videos/{video_id}:
    get:
      summary: 查询视频任务状态
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 视频任务状态
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoTask"
  /v1/videos/{video_id}/content:
    get:
      summary: 下载视频内容
      description: 任务完成后返回 video/mp4。支持 Range 请求，便于播放器拖动进度。
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
        - name: Range
          in: header
          required: false
          schema:
            type: string
            example: bytes=0-
      responses:
        "200":
          description: MP4 视频文件
          content:
            video/mp4:
              schema:
                type: string
                format: binary
        "206":
          description: MP4 分片内容
          content:
            video/mp4:
              schema:
                type: string
                format: binary
  /v1/messages:
    post:
      summary: Anthropic 兼容消息接口
      description: Claude Code、Claude Desktop、Cline 等 Anthropic 原生客户端使用。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, max_tokens, messages]
              properties:
                model:
                  type: string
                  example: claude-sonnet-4-6
                max_tokens:
                  type: integer
                  example: 1024
                messages:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Anthropic 兼容响应
  /v1beta/models/{model}:generateContent:
    post:
      summary: Gemini 原生生成接口
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
            example: gemini-2.5-flash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contents]
              properties:
                contents:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Gemini 兼容响应
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    PricingResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              model_name:
                type: string
              description:
                type: string
              model_price:
                type: number
              enable_groups:
                type: array
                items:
                  type: string
              supported_endpoint_types:
                type: array
                items:
                  type: string
        group_ratio:
          type: object
          additionalProperties:
            type: number
        supported_endpoint:
          type: object
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                example: model
        success:
          type: boolean
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          example: gpt-5.4-mini
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool]
              content:
                oneOf:
                  - type: string
                  - type: array
        stream:
          type: boolean
          default: false
        temperature:
          type: number
        max_tokens:
          type: integer
        reasoning_effort:
          type: string
          enum: [low, medium, high, xhigh]
    ImageGenerationRequest:
      type: object
      required: [model, prompt]
      properties:
        model:
          type: string
          example: nano-banana
        prompt:
          type: string
        n:
          type: integer
          default: 1
        size:
          type: string
          example: 1024x1024
        aspect_ratio:
          type: string
          example: "16:9"
        quality:
          type: string
          enum: [low, medium, high]
    VideoCreateRequest:
      type: object
      required: [model, prompt]
      properties:
        model:
          type: string
          example: seedance2.0-5s
        prompt:
          type: string
          example: 一只海豚在落日海面跃出水面
        seconds:
          type: integer
          example: 5
        duration:
          type: integer
          example: 8
        aspect_ratio:
          type: string
          example: "16:9"
        image_url:
          type: string
          format: uri
    VideoTask:
      type: object
      properties:
        id:
          type: string
          example: video_xxx
        status:
          type: string
          enum: [queued, processing, completed, failed, cancelled]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        error:
          type: string
